.pt15{padding-top: 15px !important;}
.p15{padding: 15px !important;}

.mt25{margin-top: 25px !important;}

.ml10{margin-left: 10px !important;}

.text-left{text-align: left;}
.bold{font-weight: bold;}

.color-none{color: #a4b0be;}