body{
    background: #0b0c0b !important;
}
.page{
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Profile Section */
.profile{
    height: 100%;
    padding: 20px !important;
    margin: auto;
    color: #a4b0be;
    background: #353535 !important;
}
.name-header{
    padding: 8px;
    font-weight: bold;
}

.social-icon{
    padding: 10px;
    font-size: 1.23333333em !important;
    color: none;
}
.social-icon:hover{
    background: #0080FF;
    border-radius: 15px;
}

.about-header{ margin: 10px 0px ;}
.about-p{font-weight: 600;}
