body{
    background: #0b0c0b !important;
}
.row{margin-left: 0px !important; margin-right: 0px !important;}
.page{
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Profile Section */
.fixed-profile{
    position: fixed !important; 
    top: 0%;
    z-index: 1;
}
.profile{
    height: 100%;
    padding: 20px !important;
    margin: auto;
    color: #a4b0be;
    background: #222222 !important;
}
.name-header{
    padding: 8px;
    font-weight: bold;
}

.social-icon{
    padding: 10px;
    transition: 2s;
    font-size: 1.23333333em !important;
    color: none;
}
.social-icon:hover{
    background: #0080FF;
    border-radius: 20px;
    transition: 2s;
    color: #ffffff;
}

.about-header{ margin: 10px 0px ;}
.about-p{font-weight: 500; font-size: 1.4vh;}


/* Navigation Area */
.fixed-navigation{
    position: fixed;
    top: 0%;
    z-index: 1;
    height: 7% !important;
    left: 0% !important;

    right: 0%;
}
.navigation-area{
    /*background: #353535 !important;*/
    background: #222222 !important;
    padding: 0px 30px;
    width: 100%;
    height: 5%;
    color: #ffffff;
    margin-bottom: 25px;
    transition: left 1s linear;

    left: 18%;
}
.nav-block{
    background: none;
    border: none;
    height: 100%;
    color: #ffffff;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: 1s;
    outline: 0 !important;
}
.nav-block:first-child{
    margin-left: 30px;
}
.nav-block:hover{
    background: #0080FF;
}
.nav-block:visited{
    border: none;
}
div .active{
    background: #0080FF;
}

/* ABOUT AREA */

.about-area{
    background: #222222 !important;
    width: 100%;
    height: 33%;
    color: #ffffff;
    padding: 30px 50px;
    font-family: 'Raleway', sans-serif !important;
}

.about-area .fa{
    font-size: 40px;
}
.about-area h2{
    padding: 5px;
    font-weight: 500;
    margin-left: 10px;
}

.about-area p{
    margin-top: 20px;
    color: #bbbbbb;
}

.per-project{
    background: #353535;
    transition: 2s;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.per-project i{ margin-bottom: 10px; color: #0080FF; }
.per-project h4{ font-size: 22px; }

.per-project:hover{
    background: #0080FF;
    color: #ffffff !important;
    border-radius: 20px;
    cursor: pointer;
}
.per-project:hover > i{
    color: #353535;
}
.per-project:last-child{
    margin-left: 10px;
}

.per-details{
    padding: 15px;
    margin-left: 50px;
    background: #353535;

}
.per-details .col-lg-4:first-child{
    border-right: 3px solid #0b0c0b;
}
.per-details p{
    margin: auto;
}

/* SKILLS AREA */

.skills-area{
    width: 100%;
    height: 29%;
    background: #222222 !important;
    margin-top: 25px;
    color: #ffffff;
    padding: 30px 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
}
.skills-area i{
    font-size: 40px;
}
.skills-area h2{
    margin-left: 10px;
    padding: 5px;
}
.progress-area{
    background: #2c2c2c;
    padding: 25px 20px;
    border-radius: 10px;
}
.progress{
    margin-left: 10px;
    margin-top: 2px;
    background: #0b0c0b !important;
    border-radius: 13px !important;
    padding: 3px;
    width: 40% !important;
    height: 1% !important;
}
.progress .progress-bar{
    background: #353535;
    transition: all 1.5s linear;
    height: 15px;
    border-radius: 10px;
}
.row #php{
    margin-left: 55px;
}
.row #python{
    margin-left: 35px;
}
.row #css{ margin-left: 20px;}
.row #sql{ margin-left: 29px;}

.progress #js-bar{ width: 60%; }
.progress #php-bar{ width: 45%; }
.progress #python-bar{ width: 20%;}
.progress #html-bar{ width: 75%;}
.progress #css-bar{ width: 65%; }
.progress #sql-bar{ width: 55%; }

/* EDUCATION AREA */

.education-area{
    width: 100%;
    height: 32%;
    background: #222222 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    padding: 30px 50px;
}

.education-area i{
    font-size: 40px;
    margin-right: 10px;
}

.education-area .school{
    margin-top: 40px;
    height: 20%;
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
}
.row .box{
    border-right: 1px solid #424242;
}
.row .rectangle{
    text-align: left;
    margin: auto;
}

.rectangle small{
    color: #bbbbbb;
    margin-right: 20px;
}
.rectangle b{
    font-size: 19px;
}
.rectangle i{
    float: right;
}
.box .bubble{
    background: #0080ffb5;
    border-radius: 5vh;
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 2.5vh;
}

/* EXPERIENCE AREA */

.experience-area{
    width: 100%;
    background: #222222 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #ffffff;
    padding: 3vh 5vh;
}
.experience-area i{
    font-size: 40px;
    margin-right: 10px;
}

.experience-area .job{
    margin-top: 40px;
    height: 8vh;
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
}

.experience-area .date-box{
    text-align: center;
    font-weight: bold;
    margin-top: 2.5vh;
}

.experience-area .job-description{
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
    padding: 3vh;
    box-sizing: content-box;
}


/* Up Arrow */

.up-arrow{
    display: none;
    height: 60px;
    width: 60px;
    background: #2c2c2c;
    color:#ffffff;
    font-size: 30px;
    position: fixed;
    right: 0%;
    bottom: 0%;
    padding: 15px;
    margin: 20px;
    border-radius: 35px;
    text-align: center;
}