@use '../components/variables' as v;

/* ABOUT AREA */

/* Desktop */
@media only screen and (min-width: 600px) {

    .about-header{ margin: 10px 0px ;}
    .about-p{font-weight: 500; font-size: 1.4vh;}

    .about-area{
        background:v.$area-background !important;
        width: 100%;
        height: fit-content;
        color: #ffffff;
        padding: 30px 50px;
        margin-top: 2.5vh;
        /*font-family: 'Raleway', sans-serif !important*/;
    }

    .about-area p{
        color: #bbbbbb;
    }

    .per-project{
        background: #353535;
        transition: 2s;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }
    .per-project i{ margin-bottom: 10px; color: #0080FF; }
    .per-project h4{ font-size: 22px; }

    .per-project:hover{
        background: #0080FF;
        color: #ffffff !important;
        border-radius: 20px;
        cursor: pointer;
    }
    .per-project:hover > i{
        color: #353535;
    }

    .per-details{
        padding: 15px;
        margin-left: 50px;
        background: #353535;

    }
    .per-details .col-lg-4:first-child{
        border-right: 3px solid #0b0c0b;
    }
    .per-details p{
        margin: auto;
    }

}

/* Mobile */
@media only screen and (max-width: 600px) {

    .about-header{ margin: 10px 0px ;}
    .about-p{font-weight: 500; font-size: 1.4vh;}

    .about-area{
        background:v.$area-background !important;
        width: 100%;
        height: fit-content;
        color: #ffffff;
        padding: 3vh 3vh;
        margin-top: 2.5vh;
        font-family: 'Raleway', sans-serif !important;
    }

    .about-area p{
        color: #bbbbbb;
    }

    .per-project{
        background: #353535;
        transition: 2s;
        padding: 20px;
        text-align: center;
    }
    .per-project i{ margin-bottom: 10px; color: #0080FF; }
    .per-project h4{ font-size: 22px; }

    .per-project:hover{
        background: #0080FF;
        color: #ffffff !important;
        cursor: pointer;
    }
    .per-project:hover > i{
        color: #353535;
    }

    .per-details{
        padding: 15px;
        background: #353535;

    }

    .per-details p{
        margin: auto;
    }


}

