/* EDUCATION AREA */

.education-area{
    width: 100%;
    height: 32%;
    background: #222222 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    padding: 30px 50px;
}

.education-area i{
    font-size: 40px;
    margin-right: 10px;
}

.education-area .school{
    margin-top: 40px;
    height: 20%;
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
}
.row .box{
    border-right: 1px solid #424242;
}
.row .rectangle{
    text-align: left;
    margin: auto;
}

.rectangle small{
    color: #bbbbbb;
    margin-right: 20px;
}
.rectangle b{
    font-size: 19px;
}
.rectangle i{
    float: right;
}
.box .bubble{
    background: #0080ffb5;
    border-radius: 5vh;
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 2.5vh;
}