/* EXPERIENCE AREA */

.experience-area{
    width: 100%;
    background: #222222 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #ffffff;
    padding: 3vh 5vh;
}
.experience-area i{
    font-size: 40px;
    margin-right: 10px;
}

.experience-area .job{
    margin-top: 40px;
    height: 8vh;
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
}

.experience-area .date-box{
    text-align: center;
    font-weight: bold;
    margin-top: 2.5vh;
}

.experience-area .job-description{
    background: #2c2c2c;
    border-bottom: 1px solid #424242;
    padding: 3vh;
    box-sizing: content-box;
}