/* Profile Section */

.fixed-profile{
    position: fixed !important; 
    top: 0%;
    z-index: 1;
}
.profile{
    height: fit-content;
    padding: 20px !important;
    margin: auto;
    color: #a4b0be;
    background: #222222 !important;
}
.profile img {
    max-width: 100%;
    height: auto;
}
.name-header{
    padding: 8px;
    font-weight: bold;
}

.social-icon{
    padding: 10px;
    transition: 2s;
    font-size: 1.23333333em !important;
    color: none;
}
.social-icon:hover{
    background: #0080FF;
    border-radius: 20px;
    transition: 2s;
    color: #ffffff;
}