@use '../components/variables' as v;

/* SKILLS AREA */

/* Desktop */
@media only screen and (min-width: 600px) {

    .skills-area{
        width: 100%;
        height: fit-content;
        background: v.$area-background !important;
        margin-top: 2.5vh;
        color: #ffffff;
        padding: 30px 50px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
    }

    .progress-area{
        background: #2c2c2c;
        padding: 25px 20px;
        border-radius: 10px;
    }
    .progress{
        margin-left: 10px;
        margin-top: 2px;
        background: #0b0c0b !important;
        border-radius: 13px !important;
        padding: 3px;
        width: 40% !important;
        height: 1% !important;
    }
    .progress .progress-bar{
        background: #353535;
        transition: all 1.5s linear;
        height: 15px;
        border-radius: 10px;
    }
    .row #php{
        margin-left: 55px;
    }
    .row #python{
        margin-left: 35px;
    }
    .row #css{ margin-left: 20px;}
    .row #sql{ margin-left: 29px;}

    .progress #js-bar{ width: 60%; }
    .progress #php-bar{ width: 45%; }
    .progress #python-bar{ width: 20%;}
    .progress #html-bar{ width: 75%;}
    .progress #css-bar{ width: 65%; }
    .progress #sql-bar{ width: 55%; }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .skills-area{
        width: 100%;
        height: fit-content;
        background: v.$area-background !important;
        margin-top: 2.5vh;
        color: #ffffff;
        padding: 3vh 3vh;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
    }

    .progress-area{
        background: #2c2c2c;
        padding: 2vh;
    }
    .progress{
        margin-left: 10px;
        margin-top: 2px;
        background: #0b0c0b !important;
        border-radius: 13px !important;
        padding: 3px;
        width: 40% !important;
        height: 1% !important;
    }
    .progress .progress-bar{
        background: #353535;
        transition: all 1.5s linear;
        height: 15px;
        border-radius: 10px;
    }
    .row #php{
        margin-left: 55px;
    }
    .row #python{
        margin-left: 35px;
    }
    .row #css{ margin-left: 20px;}
    .row #sql{ margin-left: 29px;}

    .progress #js-bar{ width: 60%; }
    .progress #php-bar{ width: 45%; }
    .progress #python-bar{ width: 20%;}
    .progress #html-bar{ width: 75%;}
    .progress #css-bar{ width: 65%; }
    .progress #sql-bar{ width: 55%; }
}