/* Up Arrow */

.up-arrow{
    display: none;
    height: 60px;
    width: 60px;
    background: #2c2c2c;
    color:#ffffff;
    font-size: 30px;
    position: fixed;
    right: 0%;
    bottom: 0%;
    padding: 2vh;
    margin: 2vh;
    border-radius: 35px;
    text-align: center;
}
